<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Erro Não Esperado</title>

        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />


    </head>
    <body>
        <div class="container-fluid" style="margin-top: 20px">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h3>Ops, um erro não esperado aconteceu.</h3>
                    <h6>Se o problema persistir, entre em contacto com o suporte técnico.</h6>
                    <p th:text="${exception.getMessage()}"></p>
                </div>
            </div>
        </div>

        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>