<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="fragments/head :: header">
</head>

<body>
<!-- Loading-->
<section class="loading-overlay">
    <div>
        <h1 class="loader">Loading...</h1>
    </div>
</section>

<!-- Top Menu -->
<header>

    <section class="bg-dark" id="menu-top">
        <div class="container" th:replace="fragments/menu :: emptyspace"></div>
    </section>

    <section class="bg-light" id="menu-mid">
        <div class="container" th:replace="fragments/menu :: logo-title('Spring Batch Monitoring')"></div>
    </section>
    
    <section class="bg-dark" id="menu-bot">
        <div class="container">
            <ui th:replace="fragments/menu :: menu"></ui>
        </div>
    </section>

</header>


<!-- Container -->
<div class="container">
	<div th:replace="fragments/menu :: alertPage"></div>

	<div class="row gap-2">
	
		<div class="col-3 border bg-light p-3">
				<div class="row" style="height: 110px;">
					<div class="col">
						<div th:each="env : ${environments}">
			            	<button th:onclick="'javascript:changeEnvironment('+ ${env.ordinal()} +')'" class="btn btn-light">
			            		<th:block th:if="${environment == env}">
			        				<i th:id="${env} + '_ICO_ENV'"  class="fa fa-toggle-on" aria-hidden="true"></i>
			        			</th:block>
			        			<th:block th:if="${environment != env}">
			        				<i th:id="${env} + '_ICO_ENV'" class="fa fa-toggle-off" aria-hidden="true"></i>
			        			</th:block>
			            	</button> 
			            	<label th:text="${env}">env</label>
			        	</div>
					</div>
		        </div>
		</div>
		<div class="col-3 border bg-light p-3">
				<div class="row" style="height: 110px;">
					<div class="col">
						<div th:each="read : ${readmodes}">
			            	<button th:onclick="'javascript:changeReadMode('+ ${read.ordinal()} +')'" class="btn btn-light">
			            		<th:block th:if="${readmode == read}">
			        				<i th:id="${read} + '_ICO_READ'"  class="fa fa-toggle-on" aria-hidden="true"></i>
			        			</th:block>
			        			<th:block th:if="${readmode != read}">
			        				<i th:id="${read} + '_ICO_READ'" class="fa fa-toggle-off" aria-hidden="true"></i>
			        			</th:block>
			            	</button> 
			            	<label th:text="${read}">read</label>
			        	</div>
					</div>
		        </div>
		</div>
		
		<div class="col-6 border bg-light">
			<div class="row" style="height: 55px;">
				<div class="col p-2">
					<label>Yml Threads:</label>
					<label id="te_yml"></label>
				</div>
				<div class="col p-2">
					<label>Active Count:</label>
					<label id="te_ac"></label>
				</div>
			</div>
			<div class="row" style="height: 55px;">
				<div class="col p-2">
				 	<label>Max Pool Size:</label>
					<label id="te_mpz"></label>
				</div>
				<div class="col p-2">
				  	<label>Pool Size:</label>
					<label id="te_pz"></label>
				</div>
			</div>	    
	  		<div class="row">
	  		  	<div class="col p-2">
		  			<div class="progress">
						<div id="pg_ac" class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
	  		  	</div>
  		  	</div>
		</div>
	</div>
	
	<div class="row g-2">
		<div class="col-6 border bg-light">
				<div class="row justify-content-center">
					<div class="col-10 p-4">
      					<div class="chart-container">
							<canvas id="pieProcess"></canvas>
						</div>
   					</div>
				</div>
		</div>
		
		<div class="col-6 border bg-light p-3">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col" colspan="2">Name</th>
						<th scope="col">Status</th>
					</tr>
				</thead>
				<tbody id="tbody_startEnd">
		
				</tbody>
			</table>
		</div>
	</div>
</div>

	<!-- Script -->
	<block th:replace="fragments/script :: load"></block>
    <script type="application/javascript">
    	connectBatchEnv();
    	connectTaskExecutor();
    	connectJobStartEnd();
    	connectReadMode();
    	connectProcessorCounter();
    </script>

</body>
</html>